{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PKMInvest Technologies</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'  %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/PKM_Logo1.png' %}"
             alt="PKMInvest Technologies.Logo">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'services' %}">Our Services</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  {% block body%}

  {% endblock %}

<footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">

            <div class="col-md-4 footer-links">
            <h4>Contact Us</h4>
            <ul>
              <p><strong>Phone:</strong> <span>+254 702 717 947</span></p>
              <p><strong>Email:</strong> <span>pkminvestprojects@gmail.com</span></p>
            </ul>
          </div>

          <div class="col-lg-2 col-md-2 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="{% url 'home' %}" class="active">Home</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'services' %}">Our Services</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>



          <div class="col-lg-2 col-md-4 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="{% url 'services' %}">Web Design</a></li>
              <li><a href="{% url 'services' %}">Web Development</a></li>
              <li><a href="{% url 'services' %}">Product Management</a></li>
              <li><a href="{% url 'services' %}">Marketing</a></li>
              <li><a href="{% url 'services' %}">Graphic Design</a></li>
            </ul>
          </div>

             <div class="col-lg-2 col-md-2 footer-links">
            <h4>PKMInvest Tech</h4>
            <img src="{% static 'assets/img/PKM_Logo1.png' %}"
                    alt="pkmInvest Technologies.Logo" height="150" width="150">
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>PKMInvest technologies</span></strong>. All Rights Reserved.2024
          </div>
          <div class="credits">
              Designed by <a href="www.linkedin.com/in/peter-kinyanjui-1652a694">PKMInvest Technologies</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://x.com/peterkenyaman"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com/peterkenyanman.758/"><i class="bi bi-facebook"></i></a>
          <a href="www.linkedin.com/in/peter-kinyanjui-1652a694"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{#  <!-- Preloader -->#}
{#  <div id="preloader"></div>#}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>